* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f9f9;
    width: 100%;
    margin: 0 auto;
}
img {
    max-width: 100%;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #000000;
    color: #ffffff;
}
#contenedor {
    display: flex;
    align-items: center;
    gap: 10px;
}
#logo {
    display: block;
}
#titulo h1, #titulo p {
    margin: 0;
    color: #ffffff;
}
#carrito img {
    width: 40px;
    height: auto;
    cursor: pointer;
    padding: 0;
}
.productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}
.producto {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    border: #6a6a6a 0.5px solid;
}
.producto h2 {
    margin: 10px 0;
}
.producto .precio {
    font-weight: bold;
    margin-bottom: 10px;
}
.producto button {
    padding: 10px 15px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
